extends layout

block content
    .post-detail-body
      .post-detail-content
        h1(class='post-title') #{post.title}
        p #{post.timestamp_formatted}
        p #[strong Author:] #{post.author.username}
        hr
        .post-text
          p #{post.text}
        hr
        h4 Comments:
        ul
          each comment in post_comments
            li #{comment.text} - #{comment.author.username}
          else
            p This post has no comments
        hr
        if (currentUser.status == "writer")
            p
                a(href=post.url+'/delete') 
                  button Delete post
            p
                a(href=post.url+'/update') 
                  button Update post
        else 
            p
                a(href=post.url+'/add-comment') 
                  button Add comment 

        a(href="/posts") Home   